- name: Install nginx
  apt:
    name: nginx
    state: present
    update_cache: true

- name: Enable and start nginx
  systemd:
    name: nginx
    enabled: true
    state: started

- name: Deploy index.html
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    mode: "0644"
  notify: restart nginx
