- name: apt update and install base packages
  apt:
    name:
      - curl
      - sudo
    state: present
    update_cache: yes

- name: Create user
  user:
    name: michalgoral
    shell: /bin/bash
    groups: sudo
    append: yes

- name: Disable root SSH login
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'
  notify: restart ssh

- name: Install unattended-upgrades
  apt:
    name: unattended-upgrades
    state: present

- name: Enable unattended upgrades
  command: dpkg-reconfigure -f noninteractive unattended-upgrades
