- name: apt update and install base packages
  apt:
    name:
      - curl
      - sudo
    state: present
    update_cache: yes

- name: Install unattended-upgrades
  apt:
    name: unattended-upgrades
    state: present

- name: Enable unattended upgrades
  command: dpkg-reconfigure -f noninteractive unattended-upgrades
