- name: Install ansible
  apt:
    name: ansible
    state: present
    update_cache: yes

- name: Install htop
  apt:
    name: htop
    state: present

- name: Install fail2ban
  apt:
    name: fail2ban
    state: present

- name: Ensure fail2ban is running
  service:
    name: fail2ban
    state: started
    enabled: yes
